  	<link rel="stylesheet" href="/css/SCstyle.css" />

<h2 class="page-header">Select your Character</h2>
<p id="message">Welcome {{user.name}}, Select the character in which you would like to play</p>


<form action="/game">
    <div id="characterDisplay"></div>
</form> 












<script src="/socket.io/socket.io.js"></script>
 <script src="js/getCharacterInfo.js"></script>